body {
    color: #003000;
    height: 85%;
    font: normal normal normal 100% sans-serif;
    font-size:13px;
}

caption {
    border-top: 1px solid #88e800;
    border-left: 1px solid #88e800;
    border-right: 1px solid #88e800;
    border-bottom: none;
    background-color: #e8ffd4;
    font-weight:bolder;
    padding-top: 3px;
    padding-bottom: 1px;
    color: #006000;
}

h2 {
    border-top: thick solid #88e800;
    border-bottom: thick solid #88e800;
    border-left: none;
    border-right: none;

    /*
    background: url(images/jtbean32.png);
    background-repeat:no-repeat;
    background-position: right;
    */
    background-color: #e8ffd4;

    color: #006000;
    /* margin-top: 20px; */
    padding-top: 6px;
    /* padding-left:10px;*/
}

.about {
    /*
    border-top: thick solid #88e800;
    */
    /*
    background: url(images/jtbean.png);
    background-repeat:no-repeat;
    background-position: inherit;
    padding-left:50px;
    */
    /* background: url(favicon.ico);
    background-repeat:repeat-x; */
    /* margin-top: 20px; */
    /*
    padding-top: 20px;
    */
}

h3,h4,h5,strong {
    color: #005000;
    border: none;
    background-color:transparent;
    padding-left:0px;
}


/*
h2 {
border-top: 1px solid #88e800;
border-bottom: 1px solid #88e800;
background-color:#f0ffe0;
}
*/
.page {
    position: absolute;
    left: 170px;
    /*width: 44em;*/
    width: 700px;
    /*
    padding: 0 0 0 1.5em;
    margin: 0 1em 1em 0;
    */
    /* border: 1px solid #dddddd; */
    /*
    background: url(favicon.ico);
    background-repeat:repeat-y;
    */
}

.sidebarmenu {
    position:fixed;
    cursor:default;
    /* width:8em; */
    left:0.7em;
}


.sidebarmenu ul{

    margin: 0;

    /*
    padding: 0;
    */
    list-style-type: none;
    font: bold 13px Verdana;
    /* width: 180px; */ /* Main Menu Item widths */
    /*width: 11.5em;  Main Menu Item widths */
    width:150px;
    left: -1px;
    padding: 1px 0 0 0;
}

.sidebarmenu ul li{
    position: relative;
    margin:-1px 0 0 0;
}


/* Top level menu links style */
.sidebarmenu ul li a{
    display: block;
    overflow: auto; /*force hasLayout in IE7 */
    color: #008000;
    text-decoration: none;
    padding: 5px 7px;
    /* border: 1px solid #edbb85; */
    border: 1px solid #00b000;
    /* border-bottom: 1px solid #edbb85; */
}

.sidebarmenu ul li a:link, .sidebarmenu ul li a:visited, .sidebarmenu ul li a:active{
    background-color: white; /*background of tabs (default state)*/
}

.sidebarmenu ul li a:visited{
    color: #008000;
}

.sidebarmenu ul li a:hover{
    color: #88e800;
    background-color: #806020;
    /*border-color: #705010;*/
}

/*Sub level menu items */
.sidebarmenu ul li ul{
    position: absolute;
    width: 170px; /*Sub Menu Items width */
    top: 0;
    visibility: hidden;
}

.sidebarmenu a.subfolderstyle{
    background: url(images/right.gif) no-repeat 97% 50%;
}


/* Holly Hack for IE \*/
* html .sidebarmenu ul li { float: left; height: 1%; }
* html .sidebarmenu ul li a { height: 1%; }
/* End */


@media print{
    .sidebarmenu {
        display: none;
    }
    .page {
        position: absolute;
        left: 0em;
        border: none;
        padding: 0 0 0 1em;
        margin: 0 1em 1em 0;
    }
    h1 {
        background: none;
        padding-left: 0px;
    }
}

